@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --background: 240 5% 4%;;
    --foreground: 0 0% 100%;
    
    --primary: 183 83% 63%;
  }
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
}
